@charset "UTF-8";
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul {
    margin: 0;
    padding: 0
}
body,button,input,select,table,textarea {
    font-size: 10px;
    font-family:'Roboto','Helvetica-Neue',Aria, Helvetica,"Apple SD Gothic Neo",sans-serif;
    letter-spacing:-1px;
}

button,input {
    border-radius: 0;
    border:0;
    background:none;
    -webkit-appearance:none;
}

fieldset,img {
    border: 0;
    vertical-align:top;
}

ol,ul {
    list-style: none
}


/* content */
.title{
    position:relative;
    width:100%;
    padding-bottom:70%;
    font-size:2.15rem;
    height:50px;
    line-height:50px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    text-align:center;
    color:#fff;
    z-index:100;
    letter-spacing:0;
}

.sct{
    position:relative;
    background:url(../img/spot.jpg) 50%;
    background-size:cover;
}
.sct .arrow{
    position:absolute;
    left:50%;
    bottom:10px;
    display:block;
    font-size:2rem;
    color:rgba(255,255,255,.8);
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
}
.sct:before{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,.35);
    content:'';
}
.sct2{
    position:relative;
    background:url(../img/sct1.jpg) 50%;
    background-size:cover;
}
.sct2:before{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,.35);
    content:'';
}
.sct2 h2{
    font-size:2.5rem;
    line-height:3rem;
    color:#ffadad;
    vertical-align:middle;
}

.sct2 .bx span{
    display:inline-block;
    margin-left:10px;
    font-size:1.8rem;
    color:rgba(255,255,255,.8);
    vertical-align:middle;
}
.sct2 p{
    display:inline-block;
    font-size:1.5rem;
    vertical-align:middle;
    color:#fff;
}
.sct2 .last p{
    font-size:1.2rem;
    margin-bottom:10px;
}
.sct2 .info{
    margin-left:20px;
}
.active .animated{
    -webkit-animation: tada 2s linear;
    animation: tada 2s linear;
}
.active .animated2{
    -webkit-animation: vertical 2s linear infinite;
    animation: vertical 2s linear infinite;
}
.sct2 .bx{
    margin-bottom:25px;
}
.sct2 .last .bx{
    margin-bottom:0;
}
.sct2 .fp-tableCell{
    position:relative;
    padding:35px;
    vertical-align:top;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}    

.sct2 .bx .map{
    position:relative;
    display:block;
    margin:5px -10px 0 -20px;
}
.sct2 .bx .map:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:1px solid rgba(0,0,0,.1);
}
.sct3 h2{
    position:absolute;
    top:30px;
    left:20px;
    font-size:3rem;
    line-height:3.5rem;
    color:#ffadad;
    z-index:100;
}




body[class^="fp-viewing-2-"] #fp-nav{
    display:none;
}
#fp-nav ul li a span,.fp-slidesNav ul li a span{
    background:rgba(255,255,255,.35);
}

#fp-nav.right{
    right:8px;
}

.fp-controlArrow{
    margin-top:-6px;
}

.fp-controlArrow.fp-prev{
    left: 10px;
    width: 0;
    border-width: 12px 10px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next{
    right:10px;
    border-width: 12px 0 12px 10px;
    border-color: transparent transparent transparent #fff;
}

@media (orientation: landscape){
    .title{
        font-size:3rem;
        padding-bottom:45%;
    }
    .title br{
        display:none;
    }
    .sct2 .bx{
        display:inline-block;
        width:50%;
    }
    .sct2 .bx.last{
        display:block;
    }
}


@media (min-width:1024px){
    .title{
        font-size:3rem;
        padding-bottom:45%;
    }
    .title br{
        display:none;
    }
}


@media (min-width:1300px){
    .title{
        font-size:5rem;
        padding-bottom:30%;
    }
    .title br{
        display:none;
    }
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    10%,20% {
        -webkit-transform: scale(.9) rotate(-8deg);
        transform: scale(.9) rotate(-8deg)
    }

    30%,50%,70% {
        -webkit-transform: scale(1.1) rotate(8deg);
        transform: scale(1.1) rotate(8deg)
    }

    40%,60% {
        -webkit-transform: scale(1.1) rotate(-8deg);
        transform: scale(1.1) rotate(-8deg)
    }

    100%,80% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    10%,20% {
        -webkit-transform: scale(.9) rotate(-8deg);
        transform: scale(.9) rotate(-8deg)
    }

    30%,50%,70% {
        -webkit-transform: scale(1.1) rotate(8deg);
        transform: scale(1.1) rotate(8deg)
    }

    40%,60% {
        -webkit-transform: scale(1.1) rotate(-8deg);
        transform: scale(1.1) rotate(-8deg)
    }

    100%,80% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}
@-webkit-keyframes vertical {
    0% {
        -webkit-transform: translate(0,-3px);
        transform: translate(0,-3px)
    }

    4% {
        -webkit-transform: translate(0,3px);
        transform: translate(0,3px)
    }

    8% {
        -webkit-transform: translate(0,-3px);
        transform: translate(0,-3px)
    }

    12% {
        -webkit-transform: translate(0,3px);
        transform: translate(0,3px)
    }

    16% {
        -webkit-transform: translate(0,-3px);
        transform: translate(0,-3px)
    }

    20% {
        -webkit-transform: translate(0,3px);
        transform: translate(0,3px)
    }

    100%,22% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0)
    }
}

@keyframes vertical {
    0% {
        -webkit-transform: translate(0,-3px);
        transform: translate(0,-3px)
    }

    4% {
        -webkit-transform: translate(0,3px);
        transform: translate(0,3px)
    }

    8% {
        -webkit-transform: translate(0,-3px);
        transform: translate(0,-3px)
    }

    12% {
        -webkit-transform: translate(0,3px);
        transform: translate(0,3px)
    }

    16% {
        -webkit-transform: translate(0,-3px);
        transform: translate(0,-3px)
    }

    20% {
        -webkit-transform: translate(0,3px);
        transform: translate(0,3px)
    }

    100%,22% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0)
    }
}
